.title {
    color: #e0d9d9;
    font-size: 23px;
    font-weight: 700;
}

.daily-item {
    background-color: #4a4a4a;
    border-radius: 15px;
    height: 40px;
    margin: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 20px;
}

.icon-small {
    width: 40px;
}
.day {
    color: #fff;
    flex: 1 1;
    font-weight: 600;
    margin-left: 15px;
}

.desc {
    flex: 1 1;
    margin-right: 15px;
    text-align: right;
    color: #fff;
}

.temp {
    color: #e0d9d9;
}

.daily-details-grid {
    display: flex;
    /* flex-wrap: wrap;
    align-content: space-around; */
    justify-content: space-around;
}

.daily-details-grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.daily-details-grid-item>*+* {
    margin-top: 10px;
}

.daily-details-grid-item label:first-child {
    color: #c4c4c4;
}

.daily-details-grid-item label:last-child {
    color: #fff;
}